<!-- 初回のみJs読み込み //-->
{{- if not ($.Page.Scratch.Get "gallery") }}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.0/jquery.fancybox.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.0/jquery.fancybox.min.js"></script>
	<script>
		$(window).on('load resize', function(){
			itemWidth = $('.item').width(); //サムネイル横幅取得
			$('.item').height(itemWidth); //サムネイルを正方形にする
			itemMargin = $('.item').outerWidth(true)-$('.item').height(); //margin取得
			$('.item').css('margin-bottom', itemMargin*2+'px'); //margin-bottom定義
		});
	</script>
{{ end }}
{{- $.Page.Scratch.Add "gallery" 1 }}

<style>
	div.item {
		width:49.5%;
		float:left;
		display:block;
		background-size:cover;
		background-position:center top;
	}
	div.item:nth-child(odd){
		margin-right:.5%;
	}
	div.item:nth-child(even){
		margin-left:.5%;
	}
	div.item a {
		width:100%;
		height:100%;
		display:block;
	}
</style>

<div class="gallery"><!-- 初回のみJs読み込み //-->
{{- if not ($.Page.Scratch.Get "gallery") }}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.0/jquery.fancybox.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.0/jquery.fancybox.min.js"></script>
	<script>
		$(window).on('load resize', function(){
			itemWidth = $('.item').width(); //サムネイル横幅取得
			$('.item').height(itemWidth); //サムネイルを正方形にする
			itemMargin = $('.item').outerWidth(true)-$('.item').height(); //margin取得
			$('.item').css('margin-bottom', itemMargin*2+'px'); //margin-bottom定義
		});
	</script>
{{ end }}
{{- $.Page.Scratch.Add "gallery" 1 }}

<style>
	div.item {
		width:49.5%;
		float:left;
		display:block;
		background-size:cover;
		background-position:center top;
	}
	div.item:nth-child(odd){
		margin-right:.5%;
	}
	div.item:nth-child(even){
		margin-left:.5%;
	}
	div.item a {
		width:100%;
		height:100%;
		display:block;
	}
</style>

<div class="gallery">
	{{ $path := print "/static" (.Get "dir") }}
	{{ $imgPath := .Get "dir" }}
	{{ $thumbPath := print (.Get "dir") }}
	{{ range (readDir $path) }}
	{{ $imgsrcPath := print $imgPath "/" .Name }}
	{{ $thumbsrcPath := print $thumbPath "/" .Name }}
	<div class="item" style="background-image:url({{$imgsrcPath}}?nf_resize=smartcrop&w=300&h=300);"><a data-fancybox="gallery" href="{{$imgsrcPath}}" title="{{ .Name }}"></a></div>
	{{ end }}
</div>
<p><br clear="all" /></p>
